<% include ../header %>
<div class="container">
	<header>
		<h1 class="display-4">Ntalk </h1>
		<h4>Dados do contato</h4>
	</header>
	<section>
		<form action="/contato/<%- id %>" method="post">
			<input type="hidden" name="_method" value="DELETE">
			<div class="form-group"><label>Nome:</label> <%- contato.nome %></div>
			<div class="form-group"><label>E-mail:</label> <%- contato.email %></div>
			<div class="form-group">
				<button type="submit" class="btn btn-danger">Excluir</button>
				<a href="/contato/<%- id %>/editar"><button type="button"
					class="btn btn-info">Editar</button></a>
			</div>
		</form>
	</section>
	<% include ../exit %>
</div>
<% include ../footer %>