<% include ../header %>
<div class="container">
	<header class="box-superior">
		<h1 class="display-4">Ntalk</h1>
		<h4>Infelizmente essa página não existe :(</h4>
	</header>
	<p class="home-return">Vamos voltar <a href="/">home page?</a> :)</p>
</div>
<% include ../footer %>