<% include ../header %>
<div class="container">
	<header class="box-superior">
		<h1 class="display-4">Ntalk</h1>
		<h4>Aconteceu algo terrível! :(</h4>
	</header>
	<section class="error">
		<p>Veja o que aconteceu...</p>
		<code><%- error.message %></code>
	</section>
	<p class="home-return">Que tal voltar <a href="/">home page?</a> :)</p>
</div>
<% include ../footer %>